@using OrderCafe.Models.DataBase
@model OrderCafe.Models.DataBase.Order

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Order</h4>
<hr />
@*<div class="row">
        <div class="col-md-4">
            <form asp-action="Create" asp-controller="order" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger">></div>
                <div class="form-group">
                    <label asp-for="FullClientName" class="control-label"></label>
                    <input asp-for="FullClientName" class="form-control" />
                    <span asp-validation-for="FullClientName" class="text-danger"></span>
                </div>
                <div class="form-group">

                    <label asp-for="PhoneNumber" class="control-label"></label>
                    <input asp-for="PhoneNumber" class="form-control" />
                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PayMethodos" class="control-label"></label>
                    <select asp-for="PayMethodos" asp-items="@Html.GetEnumSelectList<PayMethodos>()"></select>

                    <span asp-validation-for="PayMethodos" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ComplexDish" class="control-label"></label>
                    <input asp-for="ComplexDish" class="form-control" id="fdish" />
                    <span asp-validation-for="ComplexDish" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Price" class="control-label"></label>
                    <input asp-for="Price" class="form-control" id="txtunitPrice" type="text" name="UnitPrice" />
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Amount" class="control-label"></label>
                    <input asp-for="Amount" class="form-control" id="txtAmount" type="text" name="Amount" />
                    <span asp-validation-for="Amount" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="TotalPrice" class="control-label"></label>
                    <input asp-for="TotalPrice" class="form-control" id="txtTotalPrice" type="text" name="TotalPrice" />
                    <span asp-validation-for="TotalPrice" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" onclick="javascript:return check()" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>*@
<div class="container">

    <form asp-action="Create" asp-controller="order" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger">></div>
        <div class="row g-5">
            <div class="col-sm-6">
                
                <label asp-for="FullClientName" class="control-label"></label>
                <input asp-for="FullClientName" id="firsName" type="text" class="form-control" placeholder="Enter your Name" />
                <span asp-validation-for="FullClientName" class="text-danger"></span>
            </div>
            <div class="col-sm-6">
                <h4>Enter Your Phone Number</h4>
                <label asp-for="PhoneNumber" class="control-label"></label>
                <input id="firsName" asp-for="PhoneNumber" type="text" class="form-control" placeholder="Enter your Phone Number" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="col-sm-6">
                <h4>ComplexDish</h4>
                <input id="complexDish" asp-for="ComplexDish" type="text" class="form-control" placeholder="Enter dish" />
                <span asp-validation-for="ComplexDish" class="text-danger"></span>

            </div>

            <div class="col-sm-6">
                <h4>Payment type:</h4>
                <label asp-for="PayMethodos" class="control-label"></label>
                <select asp-for="PayMethodos" asp-items="@Html.GetEnumSelectList<PayMethodos>()"></select>

                <span asp-validation-for="PayMethodos" class="text-danger"></span>
            </div>
            <hr class="my-4" />
            <div class="col-sm-6">
                <h4>Price</h4>
                <label asp-for="Price" class="control-label"></label>
                <input id="txtunitPrice" type="text" asp-for="Price"  name="UnitPrice" class="form-control"  onkeyup="sum()" />
                <span asp-validation-for="Price" class ="text-danger" ></span>
            </div>
            <div class="col-sm-6">
                <h4>Amount</h4>
                <label asp-for="Amount" class="control-label"></label>
                <input id="txtAmount" asp-for="Amount" onkeyup="sum()" type="text"  name="Amount" class="form-control" />
                <span asp-validation-for="Amount" class="text-danger"></span>
            </div>
            <div class="col-sm-6">
                <h4>Total Price</h4>
                <label asp-for="TotalPrice" class="control-label"></label>
                <input id="txtTotalPrice" type="text"  asp-for="TotalPrice"  name="TotalPrice" class="form-control" />
                <span asp-validation-for="TotalPrice"  class="text-danger"></span>
            </div>
            <div class="col-sm-6">

                <input id="btnAddtoList" type="submit" value="Create" name="AddtoList" class="btn btn-success" asp-action="Create" asp-controller="order" method="post" />
            </div>
        </div>
    </form>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>

    @*<script type="text/javascript" src="~/js/site.js"></script>
       <script type="text/javascript">
           function sum() {
               var amount = document.getElementById('txtAmount').value;
               var price = document.getElementById('txtunitPrice').value;
               var result = parseFloat(amount) * parseFloat(price);
               if (!isNaN(result)) {
                   document.getElementById('txtTotalPrice').value = result;
               }
           }
        


     </script>*@