@*<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewData["Title"]-Cafe</title>
        <link rel="stylesheet" href="~/css/site.css" />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
        <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">

    </head>
    <body>
        <header>




            <nav class="navbar navbar-light bg-light">
                <div class="container-fluid">
                    <h1 class="navbar-brand mb-0 ">Delicota   service for ordering lunches</h1>

                </div>
            </nav>
        </header>

        <div class="container">

            <form>
                <div class="row g-5">
                    <div class="col-sm-6">
                        <h4>Enter Your Name</h4>
                        <input id="firsName" type="text" class="form-control" placeholder="Enter your Name" />
                    </div>
                    <div class="col-sm-6">
                        <h4>Enter Your Phone Number</h4>
                        <input id="firsName" type="text" class="form-control" placeholder="Enter your Phone Number" />
                    </div>
                    <div class="col-sm-6">
                        <h4>Choose First Dish</h4>
                        <select id="username" class="form-control">
                            <option value="">Choose...</option>
                            <option value="">Choose1...</option>
                            <option value="">Choose2...</option>

                        </select>
                    </div>
                    <div class="col-sm-6">
                        <h4>Choose Second Dish</h4>
                        <select id="username" class="form-control">
                            <option value="">Choose...</option>
                            <option value="">Choose1...</option>
                            <option value="">Choose2...</option>

                        </select>
                    </div>
                    <div class="col-sm-6">
                        <h4>Payment type:</h4>
                        <select id="username" class="form-control">
                            <option value="">Choose...</option>
                            <option value="">Choose1...</option>

                        </select>
                    </div>
                    <hr class="my-4" />
                    <div class="col-sm-6">
                        <h4>Price</h4>
                        <input id="txtunitPrice" type="text" readonly="readonly" value="0.00" name="UnitPrice" class="form-control" />
                    </div>
                    <div class="col-sm-6">
                        <h4>Amount</h4>
                        <input id="txtAmount" type="text" value="0.00" name="Amount" class="form-control" />
                    </div>
                    <div class="col-sm-6">
                        <h4>Total Price</h4>
                        <input id="txtTotalPrice" type="text" readonly="readonly" value="0.00" name="TotalPrice" class="form-control" />
                    </div>
                    <div class="col-sm-6">

                        <input id="btnAddtoList" type="submit" value="Create" name="AddtoList" class="btn btn-success" asp-action="Create" asp-controller="order" method="post" />
                    </div>
                </div>
            </form>
        </div>*@
@*<div class="container-fluid">
        <table>
            <thead>
                <tr>
                    <th hidden>
                        Dish Id
                    </th>
                    <th>
                        Dish
                    </th>
                    <th>
                        Price
                    </th>
                    <th>
                        Amount
                    </th>
                    <th>
                        Total
                    </th>
                    <th>
                        Action
                    </th>
                </tr>
            </thead>
        </table>
    </div>*@

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CafeApplication</title>
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</head>
<body>
    <div class="menu-bar">

        <nav class="navbar navbar-expand-lg ">
            <a class="navbar-brand" href="#"><img src="~/pictures/icons8-food-50.png" /><h1>Delicota</h1></a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fa fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto text-right">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Menu</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Services</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Blog</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="#">Disabled</a>
                    </li>
                </ul>
            </div>
        </nav>


    </div>
    <div class="container">
        <div class="row">
            <div class="w-100">
                <div class="col"><h1> Online-service for ordering lunches</h1></div>
                <div class="col"><img src="~/pictures/PngItem_1280767.png" /></div>
            </div>

        </div>
    </div>

    <main role="main" class="pb-3">
        @RenderBody()
    </main>


    
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>









